<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.glxy.pro.mapper.AdmissionMapper">

    <select id="getAdmissionByYear" resultType="com.glxy.pro.bo.AdmissionBo">
        select a.major_id                 as majorId,
               m.major_name               as majorName,
               c.category_name            as categoryName,
               a.adm_year                 as admYear,
               a.humanities_stu_count     as humanitiesStuCount,
               a.science_stu_count        as scienceStuCount,
               a.humanities_low           as humanitiesLow,
               a.humanities_high          as humanitiesHigh,
               a.science_low              as scienceLow,
               a.science_high             as scienceHigh,
               a.now_humanities_stu_count as nowHumanitiesStuCount,
               a.now_science_stu_count    as nowScienceStuCount
        from admission a
                 inner join major m using (major_id)
                 inner join category c using (category_id)
        where a.adm_year = #{admYear}
          and c.category_name = #{categoryName};
    </select>

</mapper>
