<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.glxy.pro.mapper.DivisionResultMapper">

    <select id="selectDivisionResultById" resultType="com.glxy.pro.bo.DivisionResultBo">
        select d.stu_id               as stuId,
               s.stu_name             as name,
               d.major_id             as majorId,
               m.major_name           as majorName,
               d.ranking              as ranking,
               d.gaokao_final_score   as gaokaoFinalScore,
               d.freshman_final_score as freshmanFinalScore,
               d.final_score          as finalScore,
               g.sci_lib              as sciLib,
               case g.sci_lib
                   when 0 then '理科'
                   when 1 then '文科'
                   end                as sciLibStr
        from division_result d
                 left join student s using (stu_id)
                 left join major m using (major_id)
                 left join gaokao g using (stu_id)
        where d.stu_id = #{stuId};
    </select>
</mapper>
